<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gestion de usuarios</title>
	<link rel="stylesheet" type="text/css" href="../static/Gestion-quinchos-styles.css">
	<link rel="stylesheet" type="text/css" href="../static/normalize.css">
	<script src="../static/script.js"></script>
</head>
<body>
	<header>
		<nav>
			<div class="nav-container">
				<div class="nav-container__boton-inicio"><a>Quinchos S.A.</a></div>
				<div class="nav-container__boton-reserva"><a>Reservar</a></div>
				<div class="nav-container__boton-login"><a>Log-in/Sign-in</a></div>	
				<div class="dropdown">
				  <button onclick="myFunction()" class="dropbtn">Mi cuenta</button>
				  <div id="myDropdown" class="dropdown-content">
				  	<a href="#">Perfil</a>
				    <a href="#">Mis reservas</a>
				    <a href="#">Mis quinchos</a>
				    <a href="#">Menú admin</a>
				    <a href="#">Cerrar sesión</a>
				  </div>
				</div>	
			</div>
			<div class="separador"></div>
		</nav>
	</header>

	<section>

		<div>
			<div class="buscar-container">
				<div class="buscar-container__div">
					<p class="buscar-container__p">Buscar</p>
					<input class="buscar-container__input" type="" name="">
				</div>	
			</div>

			<div class="usuarios-container">
				<div class="usuarios-container__div">
					<div class="usuarios-container__nombre"><p>Propietario: x</p></div>
					<div class="usuarios-container__precio"><p>Precio: <span>$</span></p></div>
					<div class="usuarios-container__puntuacion"><p>Puntuación: <span>x</span></p></div>
					<div class="usuarios-container__vermas"><a>Ver más</a></div>
				</div>

				<div class="usuarios-container__div">
					<div class="usuarios-container__nombre"><p>Propietario: x</p></div>
					<div class="usuarios-container__precio"><p>Precio: <span>$</span></p></div>
					<div class="usuarios-container__puntuacion"><p>Puntuación: <span>x</span></p></div>
					<div class="usuarios-container__vermas"><a>Ver más</a></div>
				</div>

				<div class="usuarios-container__div">
					<div class="usuarios-container__nombre"><p>Propietario: x</p></div>
					<div class="usuarios-container__precio"><p>Precio: <span>$</span></p></div>
					<div class="usuarios-container__puntuacion"><p>Puntuación: <span>x</span></p></div>
					<div class="usuarios-container__vermas"><a>Ver más</a></div>
				</div>

				<div class="usuarios-container__div">
					<div class="usuarios-container__nombre"><p>Propietario: x</p></div>
					<div class="usuarios-container__precio"><p>Precio: <span>$</span></p></div>
					<div class="usuarios-container__puntuacion"><p>Puntuación: <span>x</span></p></div>
					<div class="usuarios-container__vermas"><a>Ver más</a></div>
				</div>

				<div class="usuarios-container__div">
					<div class="usuarios-container__nombre"><p>Propietario: x</p></div>
					<div class="usuarios-container__precio"><p>Precio: <span>$</span></p></div>
					<div class="usuarios-container__puntuacion"><p>Puntuación: <span>x</span></p></div>
					<div class="usuarios-container__vermas"><a>Ver más</a></div>
				</div>

				<div class="usuarios-container__div">
					<div class="usuarios-container__nombre"><p>Propietario: x</p></div>
					<div class="usuarios-container__precio"><p>Precio: <span>$</span></p></div>
					<div class="usuarios-container__puntuacion"><p>Puntuación: <span>x</span></p></div>
					<div class="usuarios-container__vermas"><a>Ver más</a></div>
				</div>

				<div class="usuarios-container__div">
					<div class="usuarios-container__nombre"><p>Propietario: x</p></div>
					<div class="usuarios-container__precio"><p>Precio: <span>$</span></p></div>
					<div class="usuarios-container__puntuacion"><p>Puntuación: <span>x</span></p></div>
					<div class="usuarios-container__vermas"><a>Ver más</a></div>
				</div>


			</div>
		</div>

	</section>

	<footer>
		<div></div>
	</footer>
</body>
</html>