<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Inicio</title>
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
  <link rel="stylesheet" type="text/css" href="../static/normalize.css">
</head>
<body>
<header>
  <nav>
    <div class="nav-container">
      <div class="nav-container__boton-inicio"><a>Quinchos S.A.</a></div>
      <div class="nav-container__boton-reserva"><a>Reservar</a></div>
      <div class="nav-container__boton-login"><a>Log-in/Sign-in</a></div>
    </div>
    <div class="separador"></div>
  </nav>
</header>

<section id="seccion1">
  <div class="slider-container">

  </div>
</section>

<section id="seccion2">
  <div class="quinchos-container">
    <a>Ver todos</a>
    <ul>
      <li></li><li></li><li></li>
    </ul>
  </div>
</section>

<footer>
  <div></div>
</footer>
</body>
</html>