<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Log-in</title>
	<link rel="stylesheet" type="text/css" href="../static/log-in-styles.css">
	<link rel="stylesheet" type="text/css" href="../static/normalize.css">
</head>
<body>
	<header>
		<div class="logo-quincho-container">
			<h1 class="logo-quincho-container__logo-quincho">Quinchos S.A</h1>
			<div class="logo-quincho-container__separador"></div>
		</div>
	</header>

	<section>
		<div class="form-container">
			<form >
				<div class="form-container__form">	
					<p class="form-container__form-mail-p">e-mail</p>
					<input class="form-container__form-mail-input" type="text" name="">
					<p class="form-container__form-password-p">Contraseña</p>
					<input class="form-container__form-password-input" type="text" name="">
					<a href=""></a>
					<p></p>
					<a href=""></a>
				</div>
				<ul class="form-container__button-container">
					<li><button class="form-container__cancelar-button">Cancelar</button></li>
					<li><button class="form-container__ingresar-button">Ingresar</button></li>
				</ul>
			</form>

		</div>
	</section>

	<footer>
		
	</footer>
</body>
</html>