<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Registro</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/Registro.css" />
</head>
<body>
<header>
  <nav class="navbar" style="background-image: url(/Images/fondo.png)">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: white">MERCADOQUINCHO</a>
      <a th:href="@{/}" class="btn btn-outline-success" type="button">INICIO</a>
    </div>
  </nav>
</header>
<main>
  <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
    <div class="card-body">
      <h5 class="card-title">Error</h5>
      <p class="card-text" th:text="${error}"></p>
    </div>
  </div>
  <form class="registroForm" th:action="@{/usuario/modificado/__${usuario.id}__}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              aria-describedby="emailHelp"
              required
              th:value="${usuario.nombre}"
      />

      <label for="apellido" class="form-label">Apellido</label>
      <input type="text" class="form-control" name="apellido" id="apellido" required th:value="${usuario.apellido}"/>

      <label for="exampleInputEmail1" class="form-label">Correo</label>
      <input
              type="email"
              class="form-control"
              name="email"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              required
              th:value="${usuario.email}"
      />
      <label for="telefono" class="form-label">Telefono</label>
      <input
              type="tel"
              class="form-control"
              name="telefono"
              id="telefono"
              required
              th:value="${usuario.telefono}"
      />
      <label for="exampleInputPassword1" class="form-label"
      >Contraseña</label
      >
      <input
              type="password"
              class="form-control"
              name="contrasena"
              id="exampleInputPassword1"
              required
              th:value="${usuario.contrasena}"
      />

      <label for="rolUsuario">Tipo de cuenta</label>
      <select
              class="form-select"
              aria-label="Default select example"
              name="rol"
              id="rolUsuario"
      >
        <option value="CLIENTE">Cliente</option>
        <option value="PROPIETARIO">Propietario</option>
      </select>

      <label for="inputGroupFile04">Seleccione imagen de perfil</label>
      <div class="input-group">
        <input
                type="file"
                class="form-control"
                id="inputGroupFile04"
                aria-describedby="inputGroupFileAddon04"
                aria-label="Upload"

        />
      </div>
      <div class="botonesRegistro">
        <input class="btn btn-primary" type="submit" value="Modificar" />
        <input class="btn btn-primary" type="button" value="Cancelar" />
      </div>
    </div>
  </form>
</main>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"
></script>
</body>
</html>